// Theme: Navy

$brand-primary: #1d365d;
$brand-accent: lighten($brand-primary, 20%);

$theme-colors: (
  'primary': $brand-primary,
  'info': $brand-primary,
);

//** Global textual link color.
$link-color: $brand-accent;
//** Link hover color set via `darken()` function.
$link-hover-color: $brand-primary;

$headings-color: $brand-primary;
$jumbotron-heading-color: $brand-primary;

// Reset inverted navbar basics
$navbar-dark-bg: $brand-primary;

// Inverted navbar links
$navbar-dark-hover-color: #fff; // rgba($white, .75)
$navbar-dark-color: #b9c8e0;
$navbar-dark-link-hover-bg: darken($navbar-dark-bg, 5%); // #172b4a

// Inverted navbar brand label        // DITA Open Toolkit home page
$navbar-dark-brand-color: lighten($navbar-dark-color, 10%); // #dce4f0
