// Theme: Plum & Gold

$brand-primary: #35263f;
$brand-accent: #c9a227;

$theme-colors: (
  'primary': $brand-primary,
  'info': $brand-accent,
);

//** Global textual link color.
$link-color: $brand-accent;
//** Link hover color set via `darken()` function.
$link-hover-color: $brand-primary;

$headings-color: $brand-primary;
$jumbotron-heading-color: $brand-primary;

// Reset inverted navbar basics
$navbar-dark-bg: $brand-primary;

// Inverted navbar links
$navbar-dark-hover-color: #fff;
$navbar-dark-color: #d4c3da;
$navbar-dark-link-hover-bg: darken($navbar-dark-bg, 5%);

// Inverted navbar brand label
$navbar-dark-brand-color: lighten($navbar-dark-color, 10%);
