body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

div#content {
  //padding-top: 24px;
  //min-height: 100vh;
  //padding-bottom: 30px;
}

main {
  flex: 1 0 auto;

  &#content {
    margin-bottom: 30px;
  }
}

h1.container {
  padding-top: 24px;
}

.row > main[role='main'] {
  @extend .col-lg-9;

  > article[role='article'] {
    @extend .container-fluid;
    padding-left: 0;
    padding-right: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

main[role='main'] > article[role='article'] {
  > h1 {
    @extend .col-lg-8;
    //padding-left: 0;
    //padding-right: 0;
    order: 1;
  }

  > .body,
  > .abstract,
  > .shortdesc {
    @extend .col-lg-8;
    @include media-breakpoint-up(md) {
      order: 3;
    }
    @include media-breakpoint-up(lg) {
      order: 2;
    }
  }

  > .related-links {
    @extend .col-lg-4;
    order: 4;
  }
}

.body,
.abstract {
  margin-bottom: $paragraph-margin-bottom;
}

.anchor-link {
  opacity: 0;
  text-decoration: none;

  &:hover {
    opacity: 1 !important;
  }

  &::after {
    content: '#';
    padding-left: 0.5em;
  }
}

.anchor-link-container:hover .anchor-link {
  opacity: 0.5;
}

.familylinks,
.ulchildlink > .desc {
  display: none;
}

.RFC-2119 {
  font-style: inherit;
  text-transform: lowercase;
  font-variant: small-caps;
}

.content-model-prose, .inheritance-prose {
  margin-bottom: $paragraph-margin-bottom;

  ol.ol,
  li.li ol.ol,
  ul.ul,
  li.li ul.ul {
    margin-bottom: 0;
  }
}

.non-normative-label {
  font-weight: normal;
  font-style: italic;
}
