.cover-section {
  padding: 1.5rem 0;
  margin: 1.5rem 0;
  background-color: $pre-bg;
}

#comparison pre[class*='language-'] {
  font-size: 0.8rem;
  height: calc(0.8rem * 40);
  overflow: scroll;
  margin-bottom: 0;
}

.rendition {
  margin: 1rem 0;
  border: solid $pre-border-color 1px;
  border-radius: 4px;
  padding: 0.5rem 1rem;

  &__toc {
    list-style-type: none;

    &--open {
      list-style-type: disclosure-open;
    }
  }

  > p:last-of-type {
    margin-bottom: 0;
  }
}

.cover table {
  @extend .table;
  @extend .table-striped;
}
