.cover-section {
  padding: 1.5rem 0;
  margin: 1.5rem 0;
  background-color: $pre-bg;
}

#comparison pre[class*='language-'] {
  font-size: 0.8rem;
  height: calc(0.8rem * 40);
  overflow: scroll;
  margin-bottom: 0;
}
