.error-statement,
.rfc-2119-statement,
.implementation-statement {
  font-variant-caps: all-small-caps;
  font-weight: 600;
}

span.error-statement::before,
span.implementation-statement::before {
  content: '[' attr(data-id) '] ';
}
