p.example {
  border: solid $border-width $gray-400;
  padding: 0.7rem $spacer;

  &:before {
    @extend .non-normative-label;
    content: 'This paragraph is non-normative.';
    display: block;
    margin-bottom: $paragraph-margin-bottom;
  }
}

span.example {
  display: block;
  margin-top: $paragraph-margin-bottom;
  margin-bottom: $paragraph-margin-bottom;
}
