@charset "UTF-8";

@import 'default';
@import "generated";

.content-model, .inheritance {
  display: none;
}

.inlined-attributes {
  display: none;
}

section[id$="__specialization-hierarchy"], section[id$="__specialization-hierachy"] {
  display: none;
}

//.non-normative-label {
//  display: none;
//}
