<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Docs | Document Title</title>
    <meta name="keywords" content="comparison, sample" />
    <link rel="stylesheet" href="css/doc.css" />
  </head>
  <body>
    <header class="navbar">
      <div class="logo"><img src="logo.svg" alt="ACME" /></div>
      <nav class="main">
        <ul>
          <li><a href="products.html">Products</a></li>
          <li><a href="resources.html">Resources</a></li>
          <li><a href="company.html">Company</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <article class="doc">
        <header>
          <h1>Document Title</h1>
          <p class="by-line">
            <span class="author">Doc Writer</span>
          </p>
        </header>
        <section class="body">
          <p>
            A paragraph with <strong>bold</strong> and <em>italic</em> text. A link to
            <a href="https://eclipse.org">Eclipse</a>.
          </p>
          <figure>
            <img src="an-image.jpg" alt="An image" width="800" />
          </figure>
          <section id="section-title">
            <h2>Section title</h2>
            <ul>
              <li><span>Unordered list item</span></li>
              <ul>
                <li>
                  <span>Use a nested <code>&lt;ul&gt;</code> tag to create a nested item</span>
                </li>
              </ul>
              <li><span>Second unordered list item</span></li>
            </ul>
            <div class="admonition note">
              <span class="label">NOTE</span>
              <div class="content">
                <p>An admonition can be emulated using a bold label and some CSS.</p>
              </div>
            </div>
            <section id="subsection-title">
              <h3>Subsection title</h3>
              <pre>Text inside a &lt;pre&gt; tag is preformatted.</pre>
              <p>
                A code block with a Python function named <code>hello</code> that prints
                <q>Hello, World</q>:
              </p>
              <pre class="source"><code data-lang="ruby">def hello name = 'World'
  puts "Hello, #{name}!"
end</code></pre>
            </section>
          </section>
        </section>
      </article>
    </main>
    <footer>
      <div class="company-info">...</div>
      <div class="links">...</div>
    </footer>
  </body>
</html>
