<!doctype html>
<html lang="en">
  <head>
    <title>Topic Title</title>
  </head>
  <body>
    <h1>Document Title</h1>
    <p>A brief description of topic with <strong>bold</strong> and <em>italic</em> text.</p>
    <p>A link to <a href="https://eclipse.org">Eclipse&reg;</a>.</p>
    <figure>
      <figcaption>Image title</figcaption>
      <img src="an-image.jpg" alt="An image" />
    </figure>
    <ul>
      <li>Unordered list item</li>
      <ul>
        <li>Nest a another list to make a nested item</li>
      </ul>
      <li>Another unordered list item</li>
    </ul>
    <div class="admonition note">
      <span class="label">NOTE</span>
      <div class="content">
        <p>An admonition can be emulated using CSS.</p>
      </div>
    </div>
    <section>
      <h2>Section Title</h2>
      <p>
        A code block with a Python function named <code>hello</code> that prints
        <q>Hello, World</q>:
      </p>
      <pre class="language-ruby"><code data-lang="language-ruby">def hello name = 'World'
  puts "Hello, #{name}!"
end</code></pre>
    </section>
  </body>
</html>
