<footer>
  <div class='container text-muted'>
    {% if page.notices %}
      <a href='{{ page.notices }}'>Notices</a> ·
    {% endif %}
    {% if page.commit %}
      <a href='https://github.com/{{ page.repository }}/commit/{{ page.commit }}' target='_blank'
        >{{ page.repository }}@{{ page.commit | truncate(7, '') }}</a> ·
    {% endif %}
    <a href='https://github.com/dita-lang/dita-lang.org/issues/new' target='_blank'>Report an Issue</a> ·
    <a href="/colophon">Colophon</a>
  </div>
</footer> 