<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-primary">
    <div class="container">
      <a class="navbar-brand" href="{{ site.baseurl }}/">{{ site.title }}</a>
      <div class="collapse navbar-collapse" id="navbarToggle">
        <ul class="navbar-nav mr-auto flex-row">
          <li class="nav-item d-block pr-2 pr-sm-0">
            <a class="nav-link" href="/docs">Docs</a>
          </li>
          <li class="nav-item d-block pr-2 pr-sm-0">
            <a class="nav-link" href="/tc">OASIS TC</a>
          </li>
        </ul>
        <ul class="navbar-nav mr-auto flex-row justify-content-end">
          <li class="nav-item d-block pr-2 pr-sm-0">
            <select class="form-control" id="toggleStyle"> </select>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
