<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-primary">
    <div class="container">
      <a class="navbar-brand" href="{{ site.baseurl }}/">{{ site.title }}</a>
      <div class="collapse navbar-collapse" id="navbarToggle">
        <ul class="navbar-nav mr-auto flex-row">
          <li class="nav-item d-block pr-2 pr-sm-0">
            <a class="nav-link" href="/specifications">Specifications</a>
          </li>
          <li class="nav-item d-block pr-2 pr-sm-0">
            <a class="nav-link" href="/tc">OASIS TC</a>
          </li>
          <li class="nav-item d-block pr-2 pl-2 pr-sm-0">
            <form action="https://duckduckgo.com/" method="get" class="form-inline">
              <input
                type="hidden"
                name="sites"
                value="dita-lang.org/{{ page.url | remove_first: '/' | split: '/' | first }}"
              />
              <div class="input-group">
                <input type="search" name="q" class="form-control" placeholder="Search" />
                <button type="submit" value="Search" class="btn btn-primary ml-2">Search</button>
              </div>
            </form>
          </li>
        </ul>
        <ul class="navbar-nav mr-auto flex-row justify-content-end">
          <li class="nav-item d-block pr-2 pr-sm-0">
            <select class="form-control" id="toggleStyle">
              <option value="0">Default</option>
              <option value="1">Implementer</option>
              <option value="2">Debug</option>
            </select>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
