---
layout: base.njk
title: 'Emphasized text'
description: 'Emphasis indicates special meaning or particular importance.'
index: '../toc.html'
notices: '../resources/oasis-notices.html'
commit: '0af171aa6c2fe877cbb944ab4079244dd80e5d27'
repository: 'oasis-tcs/dita-lwdita'
classes: ''
---

<nav class="toc" role="toc"><ul><li><a href="../introduction/introduction.html">Introduction</a></li><li><a href="../authoring-formats/formats-introduction.html">LwDITA authoring formats</a></li><li><a href="../components/component-reference.html">Component reference</a></li><li><a href="../attributes/attributes.html">Attributes</a></li><li><a href="../conformance/conformance.html">Conformance</a></li><li><a href="../acknowledgements/acknowledgements.html">Acknowledgements</a></li><li><a href="../commonspec/specification/non-normative/aggregated-RFC-2119-statements.html">Aggregated RFC-2119 statements</a></li><li><a href="../introduction/revision-history.html">Revision history</a></li></ul></nav><main role="main" class=""><article role="article" aria-labelledby="ariaid-title1">
  <h1 class="title topictitle1" id="ariaid-title1">Emphasized text</h1>

    <div class="body refbody"><p class="shortdesc">Emphasis indicates
    special meaning or particular importance.</p>
    <section class="section" id="lw-em__d6182e24"><h2 class="title sectiontitle">Syntax</h2>

      <p class="p">The syntax for representing this
        component varies depending on the authoring format:</p>

      <table class="simpletable frame-all"><colgroup><col style="width:25%"><col style="width:75%"></colgroup><thead><tr class="sthead">
          <th class="stentry" scope="col" id="lw-em__stentry__1">Authoring format</th>
          <th class="stentry" scope="col" id="lw-em__stentry__2">Syntax and example</th>
        </tr></thead><tbody><tr class="strow">
          <th class="stentry" scope="row" headers="lw-em__stentry__1">XDITA</th>
          <td class="stentry" headers="lw-em__stentry__2">
            <p class="p"><code class="keyword markupname xmlelement">&lt;em&gt;</code></p>
            <pre class="pre codeblock"><code>&lt;p&gt;We offer more than 30 <strong class="ph b">&lt;em&gt;exclusive&lt;/em&gt;</strong> creations of original
   rolls, from the California roll to sushi with BBQ chicken or
   grilled steak.
&lt;/p&gt;</code></pre>
          </td>
        </tr><tr class="strow">
          <th class="stentry" scope="row" headers="lw-em__stentry__1">HDITA</th>
          <td class="stentry" headers="lw-em__stentry__2">
            <p class="p"><code class="keyword markupname xmlelement">&lt;em&gt;</code></p>
            <pre class="pre codeblock"><code>&lt;p&gt;We offer more than 30 <strong class="ph b">&lt;em&gt;exclusive&lt;/em&gt;</strong> creations of original
   rolls, from the California roll to sushi with BBQ chicken or
   grilled steak.
&lt;/p&gt;</code></pre>
          </td>
        </tr><tr class="strow">
          <th class="stentry" scope="row" headers="lw-em__stentry__1">MDITA (core and extended profiles)</th>
          <td class="stentry" headers="lw-em__stentry__2">
            <p class="p">Asterisk (<code class="ph codeph">*</code>) or underscore
                (<code class="ph codeph">_</code>)</p>
            <pre class="pre codeblock"><code>We offer more than 30 <strong class="ph b">*exclusive*</strong> creations of original
rolls, from the California roll to sushi with BBQ chicken or
grilled steak.</code></pre>
          </td>
        </tr></tbody></table>
    </section>
    <section class="section" id="lw-em__d6182e123"><h2 class="title sectiontitle">Rendering expectations</h2>


      <p class="p">For Western languages, the emphasis component is
        typically rendered in an italic font.</p>
    </section>
    <section class="section" id="lw-em__d6182e133"><h2 class="title sectiontitle">Attributes</h2>


      <div class="div">

        <p class="p">The available attributes vary based on the
        authoring format:</p>
        <dl class="dl">

            <dt class="dt dlterm">XDITA and HDITA</dt>
            <dd class="dd">The following attributes are available on this element: <span class="ph"><a class="xref" href="../commonspec/specification/common/reuse-w-lwdita/../../langRef/attributes/attribute-groups.html#attribute-groups__localization-attributes" title="Localization attributes include dir, translate, and xml:lang.">localization attributes</a></span>, <span class="ph"><a class="xref" href="../commonspec/specification/common/reuse-w-lwdita/../../langRef/attributes/attribute-groups.html#attribute-groups__universal-attributes" title="Universal attributes include class and outputclass..">universal
                  attributes</a></span>, and <a class="xref" href="../commonspec/specification/common/reuse-w-lwdita/../../langRef/attributes/lwdita-common-attributes.html#lwdita-common-attributes__keyref"><code class="keyword markupname xmlatt">@keyref</code></a>.</dd>



            <dt class="dt dlterm">MDITA</dt>
            <dd class="dd"><span class="ph">For the MDITA core profile, the equivalent
          of the XDITA <code class="keyword markupname xmlatt">@keyref</code> attribute is supported. For
          the MDITA extended profile, attributes can be specified by using
          the HDITA representation.</span></dd>

        </dl>
      </div>
        </section>
        <div class="example non-normative" id="lw-em__d6182e208"><h2 class="title sectiontitle">Examples</h2><p class="non-normative-label">This section is non-normative.</p>

          <figure class="fig fignone"><figcaption><span class="fig--title-label">Example 1. </span>XDITA example</figcaption>

      <p class="p">The following example demonstrates the use of emphasized text in an XDITA topic.</p>
      <pre class="pre codeblock"><code>&lt;?xml version="1.0" encoding="UTF-8"?&gt;
&lt;!DOCTYPE topic PUBLIC "-//OASIS//DTD LIGHTWEIGHT DITA Topic//EN" "lw-topic.dtd"&gt;
&lt;topic id="franchise-intro"&gt;
  &lt;title&gt;An innovative, attractive, and out of the ordinary concept&lt;/title&gt;
   &lt;body&gt;
     &lt;p&gt;We offer more than 30 &lt;em&gt;exclusive&lt;/em&gt; creations of original rolls, from the
        California roll to sushi with BBQ chicken or grilled steak.&lt;/p&gt;
  &lt;/body&gt;
&lt;/topic&gt;</code></pre>
          </figure>
   <figure class="fig fignone"><figcaption><span class="fig--title-label">Example 2. </span>HDITA example</figcaption>

      <p class="p">The following example demonstrates the use of emphasized text in an HDITA topic.</p>
      <pre class="pre codeblock"><code>&lt;!DOCTYPE html&gt;
&lt;title&gt;An innovative, attractive, and out of the ordinary concept&lt;/title&gt;
&lt;body&gt;
  &lt;article id="franchise-intro"&gt;
    &lt;h1&gt;An innovative, attractive, and out of the ordinary concept&lt;/h1&gt;
    &lt;p&gt;We offer more than 30 &lt;em&gt;exclusive&lt;/em&gt; creations of original rolls, from the California roll to sushi with BBQ chicken or grilled steak.&lt;/p&gt;
  &lt;/article&gt;
&lt;/body&gt;</code></pre>
    </figure>


    <figure class="fig fignone"><figcaption><span class="fig--title-label">Example 3. </span>MDITA example</figcaption>

      <p class="p">The following example demonstrates the use of emphasized text in an MDITA topic.</p>
      <pre class="pre codeblock"><code># An innovative, attractive, and out of the ordinary concept

We offer more than 30 *exclusive* creations of original rolls, from the California roll to sushi with BBQ chicken or grilled steak.</code></pre>

    </figure>
        </div>

  </div>
<nav role="navigation" class="related-links"><div class="familylinks"><div class="parentlink"><strong>Parent topic:</strong> <a class="link" href="../components/containers/emphasis-components.html" title="The emphasis elements are used to emphasize text that is important or serious.">Emphasis components</a></div></div></nav><aside class="section-toc" role="aside"><h2>In this section</h2><ul><li><a href="#lw-em__d6186e24">Syntax</a></li><li><a href="#lw-em__d6186e123">Rendering expectations</a></li><li><a href="#lw-em__d6186e133">Attributes</a></li><li><a href="#lw-em__d6186e208">Examples</a></li></ul></aside></article></main>
