---
layout: base.njk
title: 'Table'
description: 'A simple table is a basic tabular environment that is designed to present organized content.'
index: '../toc.html'
notices: '../resources/oasis-notices.html'
commit: '0af171aa6c2fe877cbb944ab4079244dd80e5d27'
repository: 'oasis-tcs/dita-lwdita'
classes: ''
---

<nav class="toc" role="toc"><ul><li><a href="../introduction/introduction.html">Introduction</a></li><li><a href="../authoring-formats/formats-introduction.html">LwDITA authoring formats</a></li><li><a href="../components/component-reference.html">Component reference</a></li><li><a href="../attributes/attributes.html">Attributes</a></li><li><a href="../conformance/conformance.html">Conformance</a></li><li><a href="../acknowledgements/acknowledgements.html">Acknowledgements</a></li><li><a href="../commonspec/specification/non-normative/aggregated-RFC-2119-statements.html">Aggregated RFC-2119 statements</a></li><li><a href="../introduction/revision-history.html">Revision history</a></li></ul></nav><main role="main" class=""><article role="article" aria-labelledby="ariaid-title1">
  <h1 class="title topictitle1" id="ariaid-title1">Table</h1>
  
    <div class="body refbody"><p class="shortdesc"><span class="ph">A
      simple table is</span> a basic tabular environment <span class="ph">that is</span> designed to present organized content. </p>
    <section class="section" id="lw-simpletable__d20209e30"><h2 class="title sectiontitle">Syntax</h2>
      
      <p class="p">The syntax for representing this
        component varies depending on the authoring format:</p>
      
      <table class="simpletable frame-all"><colgroup><col style="width:25%"><col style="width:75%"></colgroup><thead><tr class="sthead">
          <th class="stentry" scope="col" id="lw-simpletable__stentry__1">Authoring format</th>
          <th class="stentry" scope="col" id="lw-simpletable__stentry__2">Syntax and example</th>
        </tr></thead><tbody><tr class="strow">
          <th class="stentry" scope="row" headers="lw-simpletable__stentry__1">XDITA</th>
          <td class="stentry" headers="lw-simpletable__stentry__2">
            <p class="p"><code class="keyword markupname xmlelement">&lt;simpletable&gt;</code></p>
            <pre class="pre codeblock"><code><strong class="ph b">&lt;simpletable&gt;</strong>
  &lt;title&gt;Fancy roll ingredients&lt;/title&gt;
  &lt;sthead&gt;
    &lt;stentry&gt;&lt;p&gt;Ingredient&lt;/stentry&gt;
    &lt;stentry&gt;&lt;p&gt;Amount&lt;/p&gt;&lt;/stentry&gt;
    &lt;stentry&gt;&lt;p&gt;Unit shipped&lt;/p&gt;&lt;/stentry&gt;
  &lt;/sthead&gt;
  &lt;strow&gt;
    &lt;stentry&gt;&lt;p&gt;Gohan rice&lt;/p&gt;&lt;/stentry&gt;
    &lt;stentry&gt;&lt;p&gt;140 gm&lt;/p&gt;&lt;/stentry&gt;
    &lt;stentry&gt;&lt;p&gt;14 kg&lt;/p&gt;&lt;/stentry&gt;
  &lt;/strow&gt;
  &lt;strow&gt;
    &lt;stentry&gt;&lt;p&gt;Soya paper sheet&lt;/p&gt;&lt;/stentry&gt;
    &lt;stentry&gt;&lt;p&gt;1 pc&lt;/p&gt;&lt;/stentry&gt;
    &lt;stentry&gt;&lt;p&gt;10 pc&lt;/p&gt;&lt;/stentry&gt;
  &lt;/strow&gt;<strong class="ph b">
&lt;/simpletable&gt;</strong></code></pre>
          </td>
        </tr><tr class="strow">
          <th class="stentry" scope="row" headers="lw-simpletable__stentry__1">HDITA</th>
          <td class="stentry" headers="lw-simpletable__stentry__2">
            <p class="p"><code class="keyword markupname xmlelement">&lt;table&gt;</code></p>
            <pre class="pre codeblock"><code><strong class="ph b">&lt;table&gt;</strong>
  &lt;caption&gt;Fancy roll ingredients&lt;/caption&gt;
  &lt;tr&gt;
    &lt;th&gt;&lt;p&gt;Ingredient&lt;/p&gt;&lt;/th&gt;
    &lt;th&gt;&lt;p&gt;Amount&lt;/p&gt;&lt;/th&gt;
    &lt;th&gt;&lt;p&gt;Unit shipped&lt;/p&gt;&lt;/th&gt;
  &lt;/tr&gt;
  &lt;tr&gt;
    &lt;td&gt;&lt;p&gt;Gohan rice&lt;/p&gt;&lt;/td&gt;
    &lt;td&gt;&lt;p&gt;140 gm&lt;/p&gt;&lt;/td&gt;
    &lt;td&gt;&lt;p&gt;14 kg&lt;/p&gt;&lt;/td&gt;
  &lt;/tr&gt;
  &lt;tr&gt;
    &lt;td&gt;&lt;p&gt;Soya paper sheet&lt;/p&gt;&lt;/td&gt;
    &lt;td&gt;&lt;p&gt;1 pc.&lt;/p&gt;&lt;/td&gt;
    &lt;td&gt;&lt;p&gt;10 pcs.&lt;/p&gt;&lt;/td&gt;
  &lt;/tr&gt;<strong class="ph b">
&lt;/table&gt;</strong></code></pre>
          </td>
        </tr><tr class="strow">
          <th class="stentry" scope="row" headers="lw-simpletable__stentry__1">MDITA</th>
          <td class="stentry" headers="lw-simpletable__stentry__2">
            <p class="p">A table should contain a header row, a delimiter row, and
              zero or more rows with entries. Table entries inside a row
              should be separated by pipes (<code class="ph codeph">|</code>), and the
              delimiter should contain hyphens (<code class="ph codeph">-</code>).</p>
            <pre class="pre codeblock"><code><strong class="ph b">| Ingredient       | Amount   | Unit shipped |
| ---------------- | -------- | ------------ |
| Gohan rice       | 140 gm   | 14 kg        |
| Soya paper sheet | 1 pc     | 10 pc        |

Table:  Fancy roll ingredients</strong></code></pre>
          </td>
        </tr></tbody></table>
    </section>

      <section class="section" id="lw-simpletable__d20209e127"><h2 class="title sectiontitle">Usage information</h2>
   
      
      <p class="p">The simpletable component is designed for <span class="ph">close</span> compatibility with HTML5 tables. It can
        contain a title and allows column and row spanning.</p>
  </section>


      <section class="section" id="lw-simpletable__d20209e142"><h2 class="title sectiontitle">Attributes</h2>
      
      
      <div class="div">
        
        <p class="p">The available attributes vary based on the
        authoring format:</p>
        <dl class="dl">
          
            <dt class="dt dlterm">XDITA and HDITA</dt>
            <dd class="dd">The following attributes are available on this element: <span class="ph"><a class="xref" href="../commonspec/specification/common/reuse-w-lwdita/../../langRef/attributes/attribute-groups.html#attribute-groups__id-attributes" title="ID and conref attributes include conref and id.">ID
                  attributes</a></span>, <span class="ph"><a class="xref" href="../commonspec/specification/common/reuse-w-lwdita/../../langRef/attributes/attribute-groups.html#attribute-groups__localization-attributes" title="Localization attributes include dir, translate, and xml:lang.">localization attributes</a></span>, <span class="ph"><a class="xref" href="../commonspec/specification/common/reuse-w-lwdita/../../langRef/attributes/attribute-groups.html#attribute-groups__universal-attributes" title="Universal attributes include class and outputclass..">universal
                  attributes</a></span>, and
                <a class="xref" href="../commonspec/specification/common/reuse-w-lwdita/../../langRef/attributes/lwdita-common-attributes.html#lwdita-common-attributes__props"><code class="keyword markupname xmlatt">@props</code></a>.</dd>
          
          
          
            <dt class="dt dlterm">MDITA</dt>
            <dd class="dd"><span class="ph">There is no attribute support for
          the MDITA core profile. For the MDITA extended profile,
          attributes can be specified by using the HDITA
          representation.</span></dd>
          
        </dl>
      </div>
    </section>
        <div class="example non-normative" id="lw-simpletable__d20209e227"><h2 class="title sectiontitle">Examples</h2><p class="non-normative-label">This section is non-normative.</p>
          
      <p class="p">This section contains examples of how the table component can be
        used in the three authoring formats:</p>
      <figure class="fig fignone" id="lw-simpletable__example-table-xdita"><figcaption><span class="fig--title-label">Example 1. </span>XDITA table</figcaption>
        
        <p class="p">The following code sample shows how the
            <code class="keyword markupname xmlelement">&lt;simpletable&gt;</code> element can be used to
          represent a table that presents information about dog breeds:</p>
        <pre class="pre codeblock"><code><strong class="ph b">&lt;simpletable id="dog-breeds-table"&gt;</strong>
  &lt;title&gt;Dog breeds&lt;/title&gt;
  &lt;sthead&gt;
    &lt;stentry&gt;&lt;p&gt;Breed&lt;/p&gt;&lt;/stentry&gt;
    &lt;stentry&gt;&lt;p&gt;Average size&lt;/p&gt;&lt;/stentry&gt;
    &lt;stentry&gt;&lt;p&gt;Life expectancy&lt;/p&gt;&lt;/stentry&gt;
  &lt;/sthead&gt;
  &lt;strow&gt;
    &lt;stentry&gt;&lt;p&gt;Australian Shepard&lt;/p&gt;&lt;/stentry&gt;
    &lt;stentry&gt;&lt;p&gt;Medium&lt;/p&gt;&lt;/stentry&gt;
    &lt;stentry&gt;&lt;p&gt;12-15 years&lt;/p&gt;&lt;/stentry&gt;
  &lt;/strow&gt;
  &lt;strow&gt;
    &lt;stentry&gt;&lt;p&gt;Beagle&lt;p&gt;&lt;/stentry&gt;
    &lt;stentry&gt;&lt;p&gt;Small&lt;/p&gt;&lt;/stentry&gt;
    &lt;stentry&gt;&lt;p&gt;10-15 years&lt;/p&gt;&lt;/stentry&gt;
  &lt;/strow&gt;
  &lt;strow&gt;
    &lt;stentry&gt;&lt;p&gt;Great Dane&lt;/p&gt;&lt;/stentry&gt;
    &lt;stentry&gt;&lt;p&gt;Extra-large&lt;/p&gt;&lt;/stentry&gt;
    &lt;stentry&gt;&lt;p&gt;7-10 years&lt;/p&gt;&lt;/stentry&gt;
  &lt;/strow&gt;
<strong class="ph b">&lt;/simpletable&gt;</strong></code></pre>
        <p class="p">Note that the table has a title, as well as an
            <code class="keyword markupname xmlatt">@id</code> attribute that makes it possible to reuse
          this table in other contexts.</p>
        <p class="p">For an example of a table with spanned rows, see <a class="xref" href="lw-simpletable.html#lw-simpletable__example-table-xdita">Figure 1</a>.</p>
        
      </figure>
      <figure class="fig fignone" id="lw-simpletable__example-table-hdita"><figcaption><span class="fig--title-label">Example 2. </span>HDITA table</figcaption>
        
        <p class="p">The following code sample shows how the
            <code class="keyword markupname xmlelement">&lt;table&gt;</code> element can be used to represent
          a table that presents information about dog breeds:</p>
        <pre class="pre codeblock"><code><strong class="ph b">&lt;table id="dog-breeds-table"&gt;</strong>
  &lt;caption&gt;Dog breeds&lt;/caption&gt;
  &lt;tr&gt;
    &lt;th&gt;&lt;p&gt;Breed&lt;/p&gt;&lt;/th&gt;
    &lt;th&gt;&lt;p&gt;Size&lt;/p&gt;&lt;/th&gt;
    &lt;th&gt;&lt;p&gt;Life expectancy&lt;/p&gt;&lt;/th&gt;
  &lt;/tr&gt;
  &lt;tr&gt;
    &lt;td&gt;&lt;p&gt;Australian Shepard&lt;/p&gt;&lt;/td&gt;
    &lt;td&gt;&lt;p&gt;Medium&lt;/p&gt;&lt;/td&gt;
    &lt;td&gt;&lt;p&gt;10-15 years&lt;/p&gt;&lt;/td&gt;
  &lt;/tr&gt;
  &lt;tr&gt;
    &lt;td&gt;&lt;p&gt;Beagle&lt;/p&gt;&lt;/td&gt;
    &lt;td&gt;&lt;p&gt;Small&lt;/p&gt;&lt;/td&gt;
    &lt;td&gt;&lt;p&gt;12-15 years&lt;/p&gt;&lt;/td&gt;
  &lt;/tr&gt;
  &lt;tr&gt;
    &lt;td&gt;&lt;p&gt;Great Dane&lt;/p&gt;&lt;/td&gt;
    &lt;td&gt;&lt;p&gt;Extra-large&lt;/p&gt;&lt;/td&gt;
    &lt;td&gt;&lt;p&gt;7-10 years&lt;/p&gt;&lt;/td&gt;
  &lt;/tr&gt;
<strong class="ph b">&lt;/table&gt;</strong></code></pre>
        <p class="p">Note that the table has a title, as well as an
            <code class="keyword markupname xmlatt">@id</code> attribute that makes it possible to reuse
          this table in other contexts.</p>
        <p class="p">For an example of a table with spanned rows, see <a class="xref" href="lw-simpletable.html#lw-simpletable__example-table-hdita">Figure 2</a>.</p>
      </figure>
      <figure class="fig fignone" id="lw-simpletable__example-table-mdita"><figcaption><span class="fig--title-label">Example 3. </span>MDITA table</figcaption>
        
        <p class="p">The following code sample shows how a simple table can be
          represented in MDITA. Note that MDITA does not have a formal way
          to associate a title with a table, nor does it have a way to
          associate an ID with the table.</p>
        <pre class="pre codeblock"><code>| Dog breed          | Size        | Life expectancy |
| ------------------ | ----------- | --------------- |
| Australian Shepard | Large       | 12-15 years     |
| Beagle             | Medium      | 10-15 years     |
| Great Dane         | Extra-large | 7-10 years      |</code></pre>
      </figure>
        </div>

  </div>
<nav role="navigation" class="related-links"><div class="familylinks"><div class="parentlink"><strong>Parent topic:</strong> <a class="link" href="../components/containers/table-components.html" title="Table components include table, table header, table row, and table cell entry.">Table components</a></div></div></nav><aside class="section-toc" role="aside"><h2>In this section</h2><ul><li><a href="#lw-simpletable__d20209e30">Syntax</a></li><li><a href="#lw-simpletable__d20209e127">Usage information</a></li><li><a href="#lw-simpletable__d20209e142">Attributes</a></li><li><a href="#lw-simpletable__d20209e227">Examples</a></li></ul></aside></article></main>
