---
layout: base.njk
title: 'Topic metadata'
description: 'Topic metadata is metadata that applies to a topic based on its context in a map.'
index: '../toc.html'
notices: '../resources/oasis-notices.html'
commit: '75673839cd256bfd9414545a94f9381202d92cf0'
repository: 'oasis-tcs/dita-lwdita'
classes: ''
---

<nav class="toc" role="toc"><ul><li><a href="../introduction/introduction.html">Introduction</a></li><li><a href="../authoring-formats/formats-introduction.html">LwDITA authoring formats</a></li><li><a href="../components/component-reference.html">Component reference</a></li><li><a href="../attributes/attributes.html">Attributes</a></li><li><a href="../conformance/conformance.html">Conformance</a></li><li><a href="../acknowledgements/acknowledgements.html">Acknowledgements</a></li><li><a href="../commonspec/specification/non-normative/aggregated-RFC-2119-statements.html">Aggregated RFC-2119 statements</a></li><li><a href="../introduction/revision-history.html">Revision history</a></li></ul></nav><main role="main" class=""><article role="article" aria-labelledby="ariaid-title1">
  <h1 class="title topictitle1" id="ariaid-title1">Topic metadata</h1>
  
    <div class="body refbody"><p class="shortdesc">Topic metadata is
    metadata that applies to a topic based on its context in a
    map.</p>
    <section class="section" id="lw-topicmeta__d20339e24"><h2 class="title sectiontitle">Syntax</h2>
      
      
      <table class="simpletable frame-all"><colgroup><col style="width:25%"><col style="width:75%"></colgroup><thead><tr class="sthead">
          <th class="stentry" scope="col" id="lw-topicmeta__stentry__1">Authoring format</th>
          <th class="stentry" scope="col" id="lw-topicmeta__stentry__2">Syntax and example</th>
        </tr></thead><tbody><tr class="strow">
          <th class="stentry" scope="row" headers="lw-topicmeta__stentry__1">XDITA</th>
          <td class="stentry" headers="lw-topicmeta__stentry__2">
            <p class="p"><code class="keyword markupname xmlelement">&lt;topicmeta&gt;</code></p>
            <pre class="pre codeblock"><code>&lt;map&gt;
  <strong class="ph b">&lt;topicmeta&gt;</strong>
    &lt;navtitle&gt;Configuring the ACME Test Suite&lt;/navtitle&gt;
    &lt;data name="goal" value="configuring"/&gt;
  <strong class="ph b">&lt;/topicmeta&gt;</strong>
  &lt;!-- ... --&gt;
&lt;/map</code></pre>
          </td>
        </tr><tr class="strow">
          <th class="stentry" scope="row" headers="lw-topicmeta__stentry__1">HDITA</th>
          <td class="stentry" headers="lw-topicmeta__stentry__2">
            <p class="p">There is no equivalent to
              <code class="keyword markupname xmlelement">&lt;topicmeta&gt;</code>.</p>
          </td>
        </tr><tr class="strow">
          <th class="stentry" scope="row" headers="lw-topicmeta__stentry__1">MDITA</th>
          <td class="stentry" headers="lw-topicmeta__stentry__2">
            <p class="p">There is no equivalent to
              <code class="keyword markupname xmlelement">&lt;topicmeta&gt;</code>.</p>
          </td>
        </tr></tbody></table>
    </section>
      <section class="section" id="lw-topicmeta__d20339e107"><h2 class="title sectiontitle">Usage information</h2>
      
      
      <p class="p">The metadata specified in a topic metadata component is specific to a given
        context within a map. If a reference to a single resource appears more than once in a map or
        set of maps, unique metadata can be specified in each instance. For example, when the parent
        topic reference results in a link, components within the topic metadata component can be used to
        provide context-specific information about the link, such as link text or a navigation
        title. </p>
      
    </section>


      <section class="section" id="lw-topicmeta__d20339e132"><h2 class="title sectiontitle">Attributes</h2>
      
      
      <div class="div">
        <p class="p">The following attributes are available on this element: <span class="ph"><a class="xref" href="../commonspec/specification/common/reuse-w-lwdita/../../langRef/attributes/attribute-groups.html#attribute-groups__localization-attributes" title="Localization attributes include dir, translate, and xml:lang.">localization attributes</a></span> and <span class="ph"><a class="xref" href="../commonspec/specification/common/reuse-w-lwdita/../../langRef/attributes/attribute-groups.html#attribute-groups__universal-attributes" title="Universal attributes include class and outputclass..">universal
                  attributes</a></span>.</p>
        
      </div>
    </section>
      <div class="example non-normative" id="lw-topicmeta__d20339e175"><h2 class="title sectiontitle">Example</h2><p class="non-normative-label">This section is non-normative.</p>
          
      <p class="p">The following code sample shows how the
          <code class="keyword markupname xmlelement">&lt;topicmeta&gt;</code> element can be used to both
        specify metadata for the entire map and for a specific topic</p>
      <pre class="pre codeblock"><code>&lt;map&gt;
  &lt;!-- 1. Applies a title and metadata to the entire map --&gt;
  <strong class="ph b">&lt;topicmeta&gt;
    &lt;navtitle&gt;Configuring the ACME Test Suite&lt;/navtitle&gt;
    &lt;data name="goal" value="configuring"/&gt;
  &lt;/topicmeta&gt;</strong>
  &lt;topicref keyref="configuring-test-suite"&gt;
    &lt;topicref keyref="setting-preferences"/&gt;
    &lt;topicref keyref="testing-parameters"&gt;
      &lt;!-- 2. Applies metadata to the specific topic--&gt;
      <strong class="ph b">&lt;topicmeta&gt;
        &lt;data name="parameters" value="test-suite-set"/&gt;
      &lt;/topicmeta&gt;</strong>
    &lt;/topicref&gt;
    &lt;topicref keyref="setting-options"/&gt;
    &lt;!-- … --&gt;
  &lt;/topicref&gt;
&lt;/map&gt;</code></pre>
      <p class="p">In the above code sample, a <code class="keyword markupname xmlelement">&lt;topicmeta&gt;</code>
        element appears twice:</p>
      <ol class="ol">
        <li class="li">Specifies a navigation title for the map and indicates that all
          topics in the map are about the user goal of "configuring".</li>
        <li class="li">Specifies specific metadata for the topic defined by the key
          "test-suite-set".</li>
      </ol>
        </div>
  </div>
<nav role="navigation" class="related-links"><div class="familylinks"><div class="parentlink"><strong>Parent topic:</strong> <a class="link" href="../components/containers/map-components.html" title="Map components include the core components of LwDITA maps, such as key definition, key text, and topic reference.">Map components</a></div></div></nav><aside class="section-toc" role="aside"><h2>In this section</h2><ul><li><a href="#lw-topicmeta__d20339e24">Syntax</a></li><li><a href="#lw-topicmeta__d20339e107">Usage information</a></li><li><a href="#lw-topicmeta__d20339e132">Attributes</a></li><li><a href="#lw-topicmeta__d20339e175">Example</a></li></ul></aside></article></main>
