---
layout: base.njk
title: 'Video poster'
description: 'A video poster is an image that is displayed while a video is loading.'
index: '../toc.html'
notices: '../resources/oasis-notices.html'
commit: '0af171aa6c2fe877cbb944ab4079244dd80e5d27'
repository: 'oasis-tcs/dita-lwdita'
classes: ''
---

<nav class="toc" role="toc"><ul><li><a href="../introduction/introduction.html">Introduction</a></li><li><a href="../authoring-formats/formats-introduction.html">LwDITA authoring formats</a></li><li><a href="../components/component-reference.html">Component reference</a></li><li><a href="../attributes/attributes.html">Attributes</a></li><li><a href="../conformance/conformance.html">Conformance</a></li><li><a href="../acknowledgements/acknowledgements.html">Acknowledgements</a></li><li><a href="../commonspec/specification/non-normative/aggregated-RFC-2119-statements.html">Aggregated RFC-2119 statements</a></li><li><a href="../introduction/revision-history.html">Revision history</a></li></ul></nav><main role="main" class=""><article role="article" aria-labelledby="ariaid-title1">
  <h1 class="title topictitle1" id="ariaid-title1">Video poster</h1>

    <div class="body refbody"><p class="shortdesc">A video poster is an
    image that is displayed while a video is loading.</p>
    <section class="section" id="lw-video__d6466e24"><h2 class="title sectiontitle">Syntax</h2>


      <table class="simpletable frame-all"><colgroup><col style="width:25%"><col style="width:75%"></colgroup><thead><tr class="sthead">
          <th class="stentry" scope="col" id="lw-video__stentry__1">Authoring format</th>
          <th class="stentry" scope="col" id="lw-video__stentry__2">Syntax and example</th>
        </tr></thead><tbody><tr class="strow">
          <th class="stentry" scope="row" headers="lw-video__stentry__1">XDITA</th>
          <td class="stentry" headers="lw-video__stentry__2">
            <p class="p"><code class="keyword markupname xmlelement">&lt;video-poster&gt;</code></p>
            <pre class="pre codeblock"><code>&lt;video height="300px" width="400px" loop="false"
                muted="false"&gt;
  &lt;desc&gt;Video about the Sensei Sushi promise.&lt;/desc&gt;
  &lt;fallback&gt;
    &lt;image href="video-not-available.png"&gt;
      &lt;alt&gt;This video cannot be displayed.&lt;/alt&gt;
    &lt;/image&gt;
  &lt;/fallback&gt;
  <strong class="ph b">&lt;video-poster href="sensei-video.jpg"/&gt;</strong>
  &lt;media-source href="sensei-video.mp4"/&gt;
  &lt;media-source href="sensei-video.ogg"/&gt;
  &lt;media-source href="sensei-video.webm"/&gt;
  &lt;media-track srclang="en" href="sensei-video.vtt"/&gt; <strong class="ph b">
&lt;/video&gt;</strong></code></pre>
          </td>
        </tr><tr class="strow">
          <th class="stentry" scope="row" headers="lw-video__stentry__1">HDITA</th>
          <td class="stentry" headers="lw-video__stentry__2">
            <p class="p"><code class="keyword markupname xmlatt">@poster</code> on
              <code class="keyword markupname xmlelement">&lt;video&gt;</code></p>
            <pre class="pre codeblock"><code>&lt;video height="300" width="400"
         title="Video about the Sensei Sushi promise" controls
        <strong class="ph b"> poster="sensei-video.jpg"</strong>&gt;
  &lt;source src="sensei-video.mp4"/&gt;
  &lt;source src="sensei-video.ogg"/&gt;
  &lt;source src="sensei-video.webm"/&gt;
  &lt;track srclang="en" src="sensei-video.vtt"/&gt;
  &lt;img src="video-not-available.png" alt="This video cannot be displayed."/&gt;
<strong class="ph b">&lt;/video&gt;</strong></code></pre>
          </td>
        </tr><tr class="strow">
          <th class="stentry" scope="row" headers="lw-video__stentry__1">MDITA</th>
          <td class="stentry" headers="lw-video__stentry__2">
            <p class="p">There is no specific support in the MDITA core
      profile. If needed, use an HDITA snippet.</p>
          </td>
        </tr></tbody></table>
    </section>
      <section class="section" id="lw-video__d6466e112"><h2 class="title sectiontitle">Usage information</h2>


      <p class="p">The video poster component is modeled on the
          <code class="keyword markupname xmlatt">@poster</code> attribute that can be specified on the
        HTML5 <code class="keyword markupname xmlelement">&lt;video&gt;</code> element.</p>
    </section>


      <section class="section" id="lw-video__d6466e128"><h2 class="title sectiontitle">Attributes</h2>


      <div class="div">
        <p class="p">The available attributes vary based on the
        authoring format:</p>
        <dl class="dl">

            <dt class="dt dlterm">XDITA</dt>
            <dd class="dd">The following attributes are available on this element: <span class="ph"><a class="xref" href="../commonspec/specification/common/reuse-w-lwdita/../../langRef/attributes/attribute-groups.html#attribute-groups__link-relationship-attributes" title="Link relationship attributes include format, href, and scope.">link relationship attributes</a></span>, <span class="ph"><a class="xref" href="../commonspec/specification/common/reuse-w-lwdita/../../langRef/attributes/attribute-groups.html#attribute-groups__localization-attributes" title="Localization attributes include dir, translate, and xml:lang.">localization attributes</a></span>, <span class="ph"><a class="xref" href="../commonspec/specification/common/reuse-w-lwdita/../../langRef/attributes/attribute-groups.html#attribute-groups__universal-attributes" title="Universal attributes include class and outputclass..">universal
                  attributes</a></span>,
              and <a class="xref" href="../commonspec/specification/common/reuse-w-lwdita/../../langRef/attributes/lwdita-common-attributes.html#lwdita-common-attributes__keyref"><code class="keyword markupname xmlatt">@keyref</code></a>.</dd>


            <dt class="dt dlterm">HDITA</dt>
            <dd class="dd">The following attributes are available on this element: <span class="ph"><a class="xref" href="../commonspec/specification/common/reuse-w-lwdita/../../langRef/attributes/attribute-groups.html#attribute-groups__link-relationship-attributes" title="Link relationship attributes include format, href, and scope.">link relationship attributes</a></span>, <span class="ph"><a class="xref" href="../commonspec/specification/common/reuse-w-lwdita/../../langRef/attributes/attribute-groups.html#attribute-groups__localization-attributes" title="Localization attributes include dir, translate, and xml:lang.">localization attributes</a></span>, <span class="ph"><a class="xref" href="../commonspec/specification/common/reuse-w-lwdita/../../langRef/attributes/attribute-groups.html#attribute-groups__universal-attributes" title="Universal attributes include class and outputclass..">universal
                  attributes</a></span>,
              and <a class="xref" href="../commonspec/specification/common/reuse-w-lwdita/../../langRef/attributes/lwdita-common-attributes.html#lwdita-common-attributes__keyref"><code class="keyword markupname xmlatt">@keyref</code></a>.</dd>


            <dt class="dt dlterm">MDITA</dt>
            <dd class="dd"><span class="ph">For the MDITA core profile, the equivalent
          of the XDITA <code class="keyword markupname xmlatt">@keyref</code> attribute is supported. For
          the MDITA extended profile, attributes can be specified by using
          the HDITA representation.</span></dd>

        </dl>
      </div>
    </section>
        <div class="example non-normative" id="lw-video__d6466e278"><h2 class="title sectiontitle">Examples</h2><p class="non-normative-label">This section is non-normative.</p>

          <figure class="fig fignone"><figcaption><span class="fig--title-label">Example 1. </span>XDITA example</figcaption>

      <p class="p">The following example demonstrates the use of video poster in an
          XDITA topic.</p>
          <pre class="pre codeblock"><code>Example needed</code></pre>

    </figure>

    <figure class="fig fignone"><figcaption><span class="fig--title-label">Example 2. </span>HDITA example</figcaption>

      <p class="p">The following example demonstrates the use of video-poster in an
          HDITA topic.</p>
      <pre class="pre codeblock"><code>Example needed</code></pre>
    </figure>
        </div>

  </div>
<nav role="navigation" class="related-links"><div class="familylinks"><div class="parentlink"><strong>Parent topic:</strong> <a class="link" href="../components/containers/multimedia-components.html" title="The multimedia components are used to reference audio or video content.">Multimedia components</a></div></div></nav><aside class="section-toc" role="aside"><h2>In this section</h2><ul><li><a href="#lw-video__d6470e24">Syntax</a></li><li><a href="#lw-video__d6470e112">Usage information</a></li><li><a href="#lw-video__d6470e128">Attributes</a></li><li><a href="#lw-video__d6470e278">Examples</a></li></ul></aside></article></main>
